@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
.navbar, .overview, .info_header, .info_content, .quote_content, .sign-up_content{
    width: 1422.75px;
    margin: auto;
}

.header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    width: 100%;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1{
    color: #f9faf8;
    font-size: 24px;
}

ul{
    padding: 0;
    margin:0;
    display: flex;
    color: #e5e7eb;
    list-style-type: none;
    gap: 20px;
}

.overview{
    display: flex;
    
}

.overview_text{
    width: 50%;
}

.overview_img{
    display: flex;
    box-sizing: border-box;

    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 50%;
    

}

.overview_img img{
    display: flex;
    
}